<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="agendaForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!agendaForm.valid">Save</button>
          <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Title</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group" formArrayName="activities">
            <div
              class="row"
              *ngFor="let activity of agendaForm.controls['activities'].controls; let i = index">
              <div formGroupName="{{i}}">
                <div class="col-sm-5">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name">
                </div>
                <div class="col-sm-5">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="ranking">
                </div>
                <div class="col-sm-5">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="timeOfDay">
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-danger" (click)="onRemovePlan(i)">X</button>
                </div>
              </div>

              <br><br>
            </div>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group row">
      <div class="col-md-5"><input type="text" class="form-control" #planName></div>
      <div class="col-md-5"><input type="text" class="form-control" #planRanking></div>
      <div class="col-md-2">
        <button
          type="button"
          class="btn btn-primary"
          (click)="onAddPlan(planName.value, planRanking.value)">+</button>
      </div>
    </div>
  </div>
</div>