<h1>
  {{title}}
</h1>
<header>
			<nav>
				<ul>	
					<li><a [routerLink]="['/']"><img src="images/momiji.jpeg" alt="kyoto"
					height="325px" width="455px"/></a>
					</li>
					<li><a [routerLink]="['/tokyo']">Tokyo</a></li>
					<li><a [routerLink]="['/agenda']">Agenda</a></li>
				</ul>
			</nav>
</header>
		<div class="main">
			<router-outlet></router-outlet>
		</div>	
<!-- 		<div class="detail">
    <router-outlet name="kyoto"></router-outlet>
</div>
 -->
<!-- 							<li><a [routerLink]="['/kyoto', {outlets: {kyoto: ['kyoto', eventId]}}]"><img src="images/momiji.jpeg" alt="kyoto"
 -->