<!-- <div class="current">
  <ore-no-agenda-list></ore-no-agenda-list>
</div> 
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
 -->
  <div *ngIf="selectedAgenda" class="current">
  <ore-no-agenda-list></ore-no-agenda-list>
  </div>

<div class="itenarary">
<h3>{{selectedAgenda?.name}}</h3>
  <ul>
    <li *ngFor="let plan of selectedAgenda?.activities">{{plan.name}}</li>
  </ul>
      <ore-no-kyoto-sites *ngFor="let editDay of days" [selectedAgenda]="editDay.day" 
        (saved)="onSaved(editDay, $event)"></ore-no-kyoto-sites>
</div>

<router-outlet></router-outlet>